[Desktop Entry]
Name = Simple Wallpaper Randomizer
GenericName = Simple Wallpaper Randomizer
Comment = A simple application to change wallpaper randomly
Exec = /opt/extras.ubuntu.com/simple-wallpaper-randomizer/share/simple-wallpaper-randomizer/swr/simplewallpaperrandomizer.py
Icon = /opt/extras.ubuntu.com/simple-wallpaper-randomizer/share/icons/swr-icon.png
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = simple-wallpaper-randomizer
